# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Antoine Rioux
	email = antoine.rioux@woven-planet.global

[alias]
	pp = push origin HEAD
    ppf = push origin HEAD --force
	pl = pull origin HEAD
    ff = fetch
    ss = status
    cm = commit -m
    ap = add --patch
	cc = checkout
	cp = cherry-pick
	dd = diff
	st = stash
	sts = "!git stash show -p stash@{\"$1\"} #"
	set-upstream="!git branch --set-upstream-to=origin/\"$(git rev-parse --abbrev-ref HEAD)\""

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
	singleKey = true
[core]
	editor = vim
	autocrlf = false
[pull]
	rebase = false
